useDynLib(normalregMix)
import(stats, utils, doParallel, RcppArmadillo, ggplot2, foreach, minpack.lm, iterators, parallel)
export(normalmixCrit, normalmixCritBoot, normalmixMEMtest, normalmixMEMtestSeq,
       normalmixPMLE, normalmixMaxPhi, normalmixVcov, rnormregmix,
       regmixCrit, regmixCritBoot, regmixMEMtest, regmixMEMtestSeq,
       regmixPMLE, regmixMaxPhi, regmixVcov, 
       omega.ji, omega.12, omega.123, omega.1234, testMode, plotDiag)

# exportPattern("^[[:alpha:]]+")
